<p>employee works!</p>
<app-alert [alertType]="'Error'" [alertMessage]="'Hi I am from Employee Page'"></app-alert>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">client List</div>
      <div class="card-body">
        <table class="table table-bondered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Company Name</th>
              <th>Person Name</th>
              <th>Contact Number</th>
              <th>City</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            @for(item of projectList(); track $index) {
              <tr>
                <td>{{$index + 1}}</td>
                <td>{{item.clientName}}</td>
                <td>{{item.projectName}}</td>
                <td>{{item.empName}}</td>
                <td>{{item.startDate | date:'dd-MMM-yyyy'}}</td>
                <td>
                  <button class="btn btn-primary">Edit</button>
                  <button class="btn btn-danger">Delete</button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Client</div>
      <div class="card-body">
        <form [formGroup]="projectForm">
          <div class="row">
            <div class="col-6">
              <label for="">Project Name</label>
              <input type="text" formControlName="projectName" minlength="5" class="form-control" />
              @if(projectForm.controls['projectName'].touched && projectForm.controls['projectName'].invalid) {
                <div class="text-danger">
                  @if(projectForm.controls['projectName'].errors?.['required']) {
                    <span>This is required</span>
                  }
                  @if(projectForm.controls['projectName'].errors?.['minlength']) {
                    <span>Min of 4 chars</span>
                  }
                </div>
              }
            </div>
            <div class="col-6">
              <label for="">Start Date</label>
              <input type="date" formControlName="startDate" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Excepted End Date</label>
              <input type="date" formControlName="expectedEndDate" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Completed Date</label>
              <input type="date" formControlName="completedDate" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Contact Name</label>
              <input type="text" formControlName="contactPerson" class="form-control" />
            </div>

            <div class="col-6">
              <label for="">Contact Mobile</label>
              <input type="text" formControlName="contactPersonContactNo" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Contact Email</label>
              <input type="text" formControlName="contactPersonEmailId" class="form-control" />
            </div>
            <div class="col-6">
              <label for="">Project Cost</label>
              <input type="text" formControlName="projectcost" class="form-control" />
            </div>

            <div class="col-6">
              <label for="">Project Description</label>
              <textarea type="text" formControlName="projectDetails" class="form-control"></textarea>
            </div>
            <div class="col-6">
              <label for="">Total Employee Count</label>
              <input type="text" formControlName="totalEmpWorking" class="form-control" />
            </div>

            <div class="col-6">
              <label form="">Select Client</label>
              <select class="form-control" formControlName="clientId">
                <option value="">Select Client</option>
                @for(item of clientList;track $index) {
                  <option [value]="item.clientId">{{item.companyName}}</option>
              }
              </select>
            </div>
            <div class="col-6">
              <label for="">Project Costing</label>
              <input type="text" class="form-control" />
            </div>

            <div class="col-6">
              <label form=""> Lead by </label>
              <select class="form-control" formControlName="leadByEmId">
                <option value="">Select Employee</option>
                @for(item of employeeList;track $index) {
                    <option [value]="item.emId">{{item.empName}} - {{item.empCode}}</option>
                }
              </select>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success" [disabled]="projectForm.invalid" (click)="onSaveEmployee()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
